.sidebarChat {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:20px;
    cursor: pointer;
    border-bottom:1px solid lightgray;
}
.sidebarChat:hover{
    background-color: #3e93fd;
    color:white;
}
.sidebarChat__info {
    margin-left:15px;
    position: relative;
    width:100%;
}
.sidebarChat__info > small {
    position: absolute;
    top:5px;
    right:0;
}